.turn_on{
	margin-top:5px;
	margin-bottom: 15px;
}
.at_style{
	margin-right:0;
}
.cam_timer_repeat_container{
	margin-top: 0;
	float: left;
}
.camera_timer{
	height: 354px;
}
.camera_timer_settings {
	height: 310px;
}
.bootstrap-datetimepicker-widget{
	width: 140px;
}
.bootstrap-datetimepicker-widget a[data-action] {
padding: 2px 0;
color: #428bca;
}
.table-condensed > tbody > tr > td{
	padding: 0;
}
.bootstrap-datetimepicker-widget td span{
	line-height: 32px;
	width: 40px;
}
.bootstrap-datetimepicker-widget .timepicker-hour{
	width: 45px;
}
.bootstrap-datetimepicker-widget button[data-action] {
padding: 6px 6px 0 6px;
line-height: 16px;
}
.footer_links{
	width: 470px;
	margin-bottom: 5px;
}
#login_stats{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-top: -27px;
	text-align:right;
	position:relative;
	margin-top:-27px;
	color:red;
}
.last_login_ip{
	margin-left:10px;
}

.camera-tabs > li > a {
  color: #888;
  border: 1px solid #ccc;
  border-bottom: 0px;
}

.camera-tabs > li > a:hover {
  color: #888;
  border: 1px solid #ccc;
  border-bottom: 0px;
}


.camera-tabs a.active {
  color: #888;
}

.camera-tabs a:link {
  color: #aaa;
}

.camera-tabs li a {
	float: left;
}

.camera-tabs li span {
	display: block;
	width: 20px;
	height:20px;
	background-color: #fff;
	margin-top: 20px;
	float: left;
}


.tab-content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 0px;
}

.nav-tabs {
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

.nav-tabs li a {
	border-radius: 10px 10px 0 0;
}

.nav-tabs li {
	margin-right: 5px;
}

.tab-content .tab-pane .tab-top-content {
	padding: 10px;
}

.camera-right-button {
	float: right;
}

.container_video {
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-title {
	text-align: center;	
}

.row-modal-text-container {
	margin-top: 12px;
	margin-bottom: 12px;
}

.row-padding-8 {
	padding-bottom: 8px;
}

.font-normal {
	font-weight: 100;
}

.modal-body .panel:last-child {
	margin-bottom: 0px;
}

.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default.active[disabled], 
fieldset[disabled] .btn-default.active {
	background-color: #FFF;
	color: #444;
	border-color: #CCC;
}

.btn-active {
	background-color: #3895D0;
	color: #fff;
	border-color: #3895D0;
}

.btn-default:hover {
	color: #3895D0;
	border-color: #3895D0; 
}

.btn-warning {
	background-color: red;
	color: #fff;
}

.btn-red {
	color: red;
	background-color: #eee;
	border: 1px solid red;
}

.btn-red:hover {
	color: #eee;
	background-color: red;
	border: 1px solid red;
}

.dropdown-toggle {
	display:flex;
    align-items:center;
    font-family: inherit;;
}

.tab-top-content > span {
	font-size: 16px;
	margin-left: 20px;
}

.col-center-text {
	text-align: center;
}

.editable-click {
	border: 0px;
}

#test_sms {
    margin-top: 0px;
    margin-left: 0px;
}

#user-password-cont {
	display: none;
}

#change-user-plan-cont {
	display: none;
}

input[type="checkbox"].margin-left-right-1 {
	margin-left: 4px;
	margin-right: 4px;
}

input[type="checkbox"].margin-left-right {
	margin-left: 8px;
	margin-right: 8px;
}

.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}