@font-face {
  font-family: 'raavi';
  src: url('/frontend/fonts/raavi.ttf');
  src: url('fonts/raavi.ttf');
  
  /*a name to be used later*/
}

.float-wrap:after {
  content: "."; 
  visibility: hidden; 
  display: block; 
  clear: both; 
  height: 0; 
  font-size: 0;
}

.tanglewood-font {
  font-family: 'raavi';
}
.font_inherit {
  font-family: inherit;
}
a img {
  border: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
/*  overflow-x: hidden;*/
}
.margin_l_r_auto {
  margin-left: auto;
  margin-right: auto;
}
.main_radius {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
a:link {
  color: #ffffff;
  font-family: raavi;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  font-family: raavi;
}
a:hover {
  color: #C3DFF1;
  font-family: raavi;
}
a:active {
  color: #ffffff;
  font-family: raavi;
}
.settings {
  width: 300px;
  height: 310px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
}
.left_sett_side {
  width: 147px;
  height: 100%;
  float: left;
  border-radius-left: 5px;
  padding-left: 12px;
}
.right_sett_side {
  width: 149px;
  height: 100%;
  float: left;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.settings_command_name {
  width: 145px;
  height: 30px;
  font-size: 14px;
  text-align: left;
  color: white;
  padding-top: 10px;
}
.first_command_margin {
  margin-top: 5px;
}
.settings_command {
  width: 145px;
  height: 30px;
  font-size: 14px;
  text-align: left;
  color: white;
  padding-top: 10px;
  color: #3895d0;
  font-size: 13px;
}
.btn_del_cam {
  font-size: 13px;
  margin-top: -7px;
  padding: 1px 14px;
  margin-left: 17px;
  background-color: #3895d0;
}
.style_network_info {
  margin-left: 68px;
}
.style_on_off {
  margin-left: -33px;
  padding-top: 5px;
}
.style_on_off_more {
  margin-left: -15px;
  padding-top: 5px;
}
.select_time_zone {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
}

.timezone_string {
  margin-top: -10px !important;
}

.network_info {
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 240px;
}
.heading_panel {
  height: 30px;
  color: white;
  text-align: center;
}
.right_sett_side_network {
  width: 149px;
  height: 196px;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
}
.btn_cancel_style_network {
  font-size: 13px;
  margin-top: 32px;
  margin-left: 55px;
  width: 70px;
  /* padding: 1px 14px; */
}
.btn_save_style_network {
  font-size: 13px;
  margin-left: 7px;
  background-color: #3895d0;
  margin-top: 32px;
  width: 70px;
}
.btn_more {
	float: right; 
	margin-top: 7px; 
	margin-left: 10px; 
	cursor: pointer;
}
.btn_cancel_style_settings {
  font-size: 13px;
  margin-top: 20px;
  margin-left: 55px;
  width: 70px;
}
.btn_save_style_settings {
  font-size: 13px;
  margin-left: 7px;
  background-color: #3895d0;
  margin-top: 15px;
  width: 70px;
}
#local_ip,
#local_port,
#external_ip,
#external_port {
  border-bottom: 0px;
}
.camera_timer {
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 340px;
}
.camera_timer_settings {
  width: 100%;
  height: 295px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_timer {
  height: 30px;
  color: white;
  text-align: center;
}
.on_of_timer_row {
  width: 100%;
  height: 75px;
  margin-top: 15px;
}

.cam_timer_repeat_title {
  width: 250px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-size: 15px;
  color: #3895d0;
}

.turn_on {
  width: 250px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.turn_on_of_style {
  float: left;
  font-size: 17px;
  color: #3895d0;
}
.at_style {
  font-size: 10px;
  color: gray;
  float: left;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 11px;
}
.form_control {
  width: 33px;
  height: 22px;
  margin-left: 15px;
}
.two_points {
  margin-top: -32px;
  margin-left: 119px;
}
.input_cam_timer_style {
  margin-top: -30px;
  margin-left: 127px;
}
.settings_am_pm {
  float: right;
  margin-top: -32px;
}
.cam_timer_repeat_container {
  width: 100%;
  height: 140px;
  margin-top: -7px;
}

.cam_timer_repeat_day {
	/*
	float: left;
	width: 250px;
	*/
	height: 125px;
	margin-left: 20px;
}

.cam_timer_repeat_left {
  margin-left: 20px;
  float: left;
  width: 40px;
  height: 34px;
}

.repeat_checkbox {
  width: 100%;
  height: 20px;
  float: left;
  margin-bottom: 10px;
}
.repeat_checkbox_days {
  height: auto;
  float: left;
}
.cancel_save_timer {
  width: 100%;
  height: 47px;
  margin-top: -3px;
  margin-top: 0px;
}
.cancel_save_btn_style {
  font-size: 13px;
  /* padding: 1px 14px; */
  margin-left: 75px;
  margin-top: 15px;
  width: 70px;
}
.margin_btn_save_style {
  font-size: 13px;
  /* padding: 1px 14px; */
  background-color: #3895d0;
  margin-top: 15px;
  width: 70px;
}
.del_cam_options {
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 200px;
}
.del_cam_container {
  width: 100%;
  height: 141px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_del_cam {
  height: 30px;
  color: white;
  text-align: center;
}
.del_cam_txt {
  width: 80%;
  height: 35px;
  text-align: center;
  color: #3895d0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.del_cam_checkbox {
  margin-left: 141px;
  margin-top: 30px;
}
.cancel_del {
  width: 100%;
  height: 42px;
  margin-top: 10px;
  background-color: #3895d0;
}
.del_cam_pop_up {
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 94px;
}
.del_cam_box {
  width: 100%;
  height: 44x;
  border-radius: 5px;
  background-color: #3895d0;
  padding-top: 5px;
}
.heading_panel_del_cam {
  height: 30px;
  color: white;
  text-align: center;
}
.cancel_del {
  width: 90%;
  height: 40px;
  background-color: #3895d0;
  margin-left: 10px;
  margin-top: 0px;
}
.cancel_del_btn_style {
  font-size: 13px;
  padding: 1px 14px;
  margin-left: 58px;
  margin-top: 10px;
}
.btn_save_del_style {
  width: 70px;
  margin-left: 11px;
  margin-top: 10px;
}
.email_alerts {
  width: 300px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 264px;
}
.email_alerts_settings {
  width: 100%;
  height: 220px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}
.heading_panel_timer {
  height: 30px;
  color: white;
  text-align: center;
}
.alert_type_select {
  width: 100%;
  height: 100px;
  padding-top: 5px;
}
.alert_type_caption {
  margin-top: 5px;
  margin-left: 20px;
}
.e_mail_alert_txt_style {
  margin-top: -5px;
}
.e_mail_alert_row {
  margin-top: 5px;
  margin-left: 48px;
  width: 200px;
  height: 20px;
}
.e_mail_alert_check {
  width: 40px;
  float: left;
  text-align: center;
}
.e_mail_alert_checkbox_style {
  width: 40px;
}
.e_mail_alert_row_text {
  padding-top: 3px;
  float: left;
  width: 120px;
  text-align: center;
}
.e_mail_alert {
  width: 80%;
  height: 50px;
  text-align: left;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
.form_control_mail_alert {
  width: 210px;
  height: 26px;
  margin-left: 15px;
  margin-top: - 2px;
}
.e_mail_alert_cancel_save {
  width: 100%;
  height: 25px;
  padding-left: 50px;
}
.cancel_alert_btn_style {
  margin-left: 25px;
  margin-top: 23px;
  width: 70px;
}
.btn_save_alert_style {
  margin-top: 23px;
  margin-left: 10px;
  width: 70px;
}
.active_panel {
  display: block;
}
.inactive_panel {
  display: none;
  top: 46px;
  position: absolute;
}
#phone_number,
#camera_title,
#local_ip,
#local_port,
#external_port,
#external_ip {
  color: #3895d0;
  text-align: center;
}
.edit_holder {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.camera_title_edit_style {
  margin-top: -6px;
  width: 120px !important;
  height: 30px;
}

.phone_number_edit_style {
  margin-top: -6px;
  width: 120px !important;
  height: 30px;
}

.input-append {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.timepicker_wrapper {
  width: 150px;
  height: 32px;
  float: right;
  margin-top: -5px;
}
.bootstrap-datetimepicker-widget td span {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget td {
  height: 27px;
  line-height: 27px;
}
.separator {
  height: 27px;
}
.table-condensed > tbody > tr > td {
  padding: 0px;
}
.datepicker_day {
  font-size: 16px;
  font-weight: normal;
  min-height: 0px;
}
input[type=checkbox].checkbox_day {
  margin-top: 1px;
}
.day {
  width: 50px;
  /* float: left; */
}
.middle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn.btn-primary.day {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn.btn-primary.day.active {
  color: #fff;
  background-color: #8eca48;
  border-color: #61ca38;
}
.drop_panel {
  width: 1px;
  height: 1px;
}
.invisible_ul {
  height: 0px;
  background-color: transparent;
  -webkit-box-shadow: none;
  border: 0px;
}
.schedule {
  width: 300px;
  height: 303px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 200px;
}

#account_panel {
  /*width: 300px;
  height: 303px;*/
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  /*height: 290px;*/
}
#account_panel .heading_panel {
  height: 0px;
}
.heading_panel {
  height: 30px;
  color: white;
  text-align: center;
}
#passwords_panel.schedule {
  height: 160px;
}
#account_panel.schedule {
  height: 140px;
}
#passwords_panel.schedule .heading_panel,
#account_panel.schedule .heading_panel {
  height: 0px;
}
#test_sms {
  margin-top: 10px;
  margin-left: 46px;
}
.right_sett_side_schedule {
  width: 149px;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
  height: 100%;
}
.btn_save_account_style {
  font-size: 13px;
  margin-top: 32px;
  padding: 1px 14px;
  background-color: #3895d0;
  margin-left: 5px;
  width: 70px;
}
.btn_cancel_account_style {
  margin-left: 57px;
  margin-top: 32px;
  width: 70px;
}
.account_data {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.account_data a {
  cursor: pointer;
}
.style_on_off_account {
  margin-left: -33px;
  padding-top: 0px;
}
.btn_change_pass_style {
  margin-left: 20px;
  margin-top: -5px;
}
.left_sett_side_pass {
  width: 147px;
  height: 150px;
  float: left;
  padding-left: 12px;
}
.right_sett_side_pass {
  width: 149px;
  height: 100%;
  float: left;
  background-color: white;
  border-bottom-right-radius: 5px;
  padding-left: 2px;
}
.change_pass_in {
  margin-top: 10px;
}
#change_password {
  margin-top: 35px;
  margin-left: 5px;
}
.cancel_change_password_style {
  margin-top: 35px;
  margin-left: 57px;
  width: 70px;
}
.cvr_subscription {
  width: 300px;
  background-color: #3895d0;
  border: 2px solid #3895d0;
  border-radius: 5px;
  height: 178px;
}
.cvr_subscription_body {
  width: 100%;
  height: 134px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
}

.cvr_subscription_close_btn {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  text-align: center;
}

#close_cvr_subscription {
  margin-left: 0px;
  margin-top: 0px;
}

.cvr_list {
  margin-top: 10px;
  width: 300px;
}

.cvr_item {
  margin-top: 10px;
  height: 30px;
  width: 100%;
}

.cvr_item_desc {
  padding-left: 20px;
  padding-top: 5px;
  float: left;
  width: 200px;
}

.cvr_item_btns {
  margin-left: 20px;
  text-align: center;
  float: left;
}

.btn_cancel_account {
  font-size: 13px;
  margin-top: 25px;
  margin-left: 57px;
  width: 70px;
}

.btn_save_account {
  font-size: 13px;
  margin-left: 7px;
  background-color: #3895d0;
  margin-top: 25px;
  width: 70px;
}

.telephone_co {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
}

ul.dropdown-menu-items {
  margin: 0px;
  padding: 0px;
}

ul.dropdown-menu-items > li {
  list-style: none;
}

ul.dropdown-menu-items > li > a {
  font-size: 16px;
  display: block;
  padding: 10px;
}