@import "style.less";

.cursor{
  background-color: red;
}

.cursor_text{
  font-family: 'Helvetica';
  font-size: 11px;
  fill: white;
  cursor: pointer;
}

.cursor_image{
  cursor: pointer;
}

.button{
  margin-top: 10px;
  width: 80px;
  height:20px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.recordings_lines{
  stroke: green;
}

.recordings_text{
  font-size: 10px;
  font-family: 'Helvetica';
  fill: white;
}

.test_lines{
  stroke: red;
}

.test_text{
  font-size: 100%;
  font-family: 'Helvetica';
  color: @mainBlue;
}

/* timeline_base*/
path {
  fill: none;
  stroke: @mainBlue;
}

svg .axis path,
svg .axis line {
  fill: none;
  stroke: @mainBlue;
}

svg .axis text {
  font-family: 'Helvetica';
  font-size: 11px;
  fill: @mainBlue;
}

.visible{
  display: block;
}

.minDrag_lines{
  stroke: rgba(50,50,50,0.7);
  cursor: w-resize;
}

.maxDrag_lines{
  stroke: rgba(50,50,50,0.7);
  cursor: e-resize;
}

.selector_lines{
  stroke: rgba(0,255,0,0.3);
  cursor: move;
}

// ADDED FOR DEMO

.time_links_holder{
  width: 100%;
  height: 35px;
  float:left;
}

.time_link{
  width:14%;
  height: 100%;
  float:left;
}

.day_of_week{
  text-align:center;

  color: @mainBlue;
  cursor: pointer;
}

.stage_change{
  text-align: center;
  margin-top: 10px;
  color: #3895d0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.stage_change_holder {
  float:left;
  height: 15px;
  width: 50px;
}