@mainBlue: #3895d0;
.left_right_auto{
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'raavi'; /*a name to be used later*/
  src: url('/fonts/raavi.ttf'); /*URL to font*/
}
//EXPIRED PAGE
.expired_page{
  width: 100%;
  height: 450px;
  max-height: 550px;
  min-height: 500px;
  background-color: #3895d0;
}
.expired_contetnt{
  width: 50%;
  height: 300px;
  margin-top: 50px;
  .left_right_auto;
}
.expired_text{
  width: 100%;
  height: 50px;
  margin-top: 60px;
  .left_right_auto;
}
.request_text{
  width: 100%;
  height: 50px;
  margin-top: 70px;
  .left_right_auto;
}
.text_style{
  margin-top: 31px;
  color: #fff;
  text-align: center;
}
.img_expired{
  width: 50px;
  height: 50px;
  background-image: url('../img/img_expired.png');
  .left_right_auto;
}
.login_logo{
  width: 130px;
  height: 91px;
  background-image: url('../img/logo.png');
  .left_right_auto;
}
.link_to_f_page{
  width: 100%;
  .left_right_auto;
  text-align: center;
}
a:link {color:#ffffff; font-family: raavi; text-decoration: none;}
a:visited {color:#ffffff; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:#ffffff; font-family: raavi;}
