@import "style.less";

/*///////////////////////////////////////CSS FOR SCREEN RESOLUTION 720p WIDE AND LOWER*/
.margin_l_r_auto{
  margin-left: auto;
  margin-right: auto;
}
.camera_list_heading{
  text-align: center;
  margin-top: -2px;
  margin-bottom: -9px;
  font-size: 23px;
  color: @text_color_gray;
}
.panel_body_style{
  padding: 0px;
  padding-top: 15px;
  padding-left: 6px;
}
.list_item{ /////////////////
  max-width: 570px;
  .margin_l_r_auto;
}
.thumb_style{
  -webkit-box-shadow: 1px 2px 8px 0 rgba(147,149,152,0.4);
  box-shadow: 1px 2px 8px 0 rgba(147,149,152,0.4);
}
.thumb_img_style{
  max-height: 403px;
}
.list_item_cam_title{ ///////////////
  width: 100%;
  text-align: left;
  font-size: 19px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #A1A0A0;
}
.item_info{
  width: 100%;
  height: 20px;
  border-bottom: 1px solid @player_border;
}
.item_info_text{
  font-size: 11px;
  float: left;
}
.cam_status {
  ////////////////////
  width: 16px;
  height: 16px;
  float: left;
}
