@import "style.less";

//LOGIN PAGE
.login_page{
  width: 100%;
  height:auto;
  min-height: 100%;
  background-color: @mainBlue;
  margin-top: -40px;
}
.body_logih_contents{
  margin-top: 50px;
}
.login_logo{
  width: 130px;
  height: 91px;
  background-image: url('../img/logo.png');
  margin-left: auto;
  margin-right: auto;
  margin-top: -29px;
}
.login_form_style{
  margin-left: 10px;
}
.blank_div{
  width: 100%;
  height: 150px;
}
/////lgoin weloome text
.login_welcome_con{
  width: 100%;
  height: auto;
  margin-top: -50px;
}
.login_welcome_text{
  text-align: left;
  color: @mainWhite;
}
.navbar_bottom{
  border-top: 5px solid @mainWhite;
  max-width: 92%;
  .margin_l_r_auto;
}
/////links in footer
.login_page_links_con{
  width: 550px;
  height: 20px;
}
.login_page_links{
  width: 150px;
  height: 20px;
  text-align: center;
  display: inline-block;
  .margin_l_r_auto;
  font-family: 20px;
}
.create_acc_btn_style{
  margin-top: 20px;
}
/*LOGIN CSS*/
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: 9px;
//  border-bottom-left-radius: 0;
//  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
//  border-top-left-radius: 0;
//  border-top-right-radius: 0;
}
.account-wall
{
  padding: 40px 0px 20px 0px;
  border: 2px solid @mainWhite;
  color: @mainWhite;
  border-radius: 4px;
}
.login-title
{
  color: @mainWhite;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
