{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chk-in | User</title>

    <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-select.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-switch.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap_timepicker.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap_glypgicons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'libs/mac_scroll/antiscroll.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/timeline.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/notifIt.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/user_acc.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/panels.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/vis.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/beeTimeline.css' %}">

    <!--custom css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--css style for all resolution-->
    <link type="text/css" rel="stylesheet" media="screen and (max-width: 730px)" href="{% static 'css/low_end.css' %}">
    <link type="text/css" rel="stylesheet" media="screen and (min-width: 732px)" href="{% static 'css/low.css' %}">
    <link type="text/css" rel="stylesheet" media="screen and (min-width: 1001px)" href="{% static 'css/medium.css' %}">
    <link type="text/css" rel="stylesheet" media="screen and (min-width: 1201px)" href="{% static 'css/wide.css' %}">

</head>
<body onload="user_on_load()">
<div class="navbar navbar-inverse navbar-inner navbar-static-top menu_style">
    <div class="container">
        <!-- <a href="index.html" class="navbar-brand brand logo"><img src="img/logo.png"></a> -->
        <div id="login_stats">
            <div class="row">
            <span>User connected: <span id="no_of_users"></span></span>
            <span class="last_login_ip">Last Login IP: <span id="last_login_ip"></span></span>
            </div>
        </div>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right login-title margin_top">
                <!--JOHNEY-->

                <!--TEST-->
                <li id="settings_holder" class="menu_buttons_style">
                    <a href="#" id="settings_drop"  class="dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu invisible_ul">
                        <li>
                            <div id="account_panel" class="float-wrap">
                                <ul class="dropdown-menu-items">
                                    <li><a href="#" data-toggle="modal" data-target="#generalModal">General</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#networkModal">Network</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#controlModal">Control</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </li>

                <li id="account_holder" class="menu_buttons_style">
                    <a href="#" id="account_drop"  class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu invisible_ul">
                        <li>
                            <div id="account_panel" class="float-wrap">
                                <ul class="dropdown-menu-items">
                                    <li><a href="#" data-toggle="modal" data-target="#infoModal">Info</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#billingModal">Billing</a></li>
                                </ul>
                            </div>
                        </li>    
                    </ul>
                </li>

                <li class="menu_buttons_style"><a href="#" onclick="logout(event)">Logout</a></li>


            </ul>
        </div>
    </div>
</div>
<div class="container main_container_body">
    <div class="row">
        <div class="player_container">
            <div class="col-md-12">

                <div class="container_video">
                    <div>
                        <ul class="nav nav-tabs camera-tabs">
                            <!-- Camera Tab -->
                        </ul>
                        <div id="cameraTabContent" class="tab-content">
                            
                            <!-- Camera Tab Content -->
                            
                            <div class="tab-pane fade in active" id="camera">
                                <div class="tab-top-content float-wrap">
                                    <input type="checkbox" name="camera-on" class="camera-on-button"> <span id="camera-name"></span>
                                    <span class="camera-right-button">
                                        <a href="#" class="btn btn-default btn-sm btn-active disabled" id="camera-download-button" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                            Download recording
                                        </a>
                                        <!--<button type="button" class="btn btn-default btn-sm btn-red" id="on-off-rec-cam" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                                        </button>-->
                                        <div style="background-image: url(&quot;./img/blank_onoff_rec_cam.png&quot;);" class="cam_img" data-bind="click: on_off_rec(), style:{'background-image': camerasView.selected().recording_background()}"></div>
                                    </span>
                                </div>
                                <div class="container_video">
                                    <div id="_player_image">
                                    </div>
                                    <div id="_player_container">
                                        <div id="_player_video" class="player">
                                            <img class="img-responsive" src="img/img_for_v_2/test_cam_pic.jpg">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="timeline_holder">
                                            <div style="float: left;border-bottom-left-radius: 4px;" class="time_bicon">
                                                <p id="left_time" class="time_bicon_p"></p>
                                            </div>
                                            <div id="demo_timeline" class='demo_timeline'></div>
                                            <div style="float: right;border-bottom-right-radius: 4px;" class="time_bicon">
                                                <p id="right_time" class="time_bicon_p"></p>
                                            </div>
                                            <div class="time_links_holder">
                                                <div class="stage_change_holder"><p class="stage_change selected">10min</p></div>
                                                <div class="stage_change_holder"><p class="stage_change">1h</p></div>
                                                <div class="stage_change_holder"><p class="stage_change">24h</p></div>
                                                <div class="stage_change_holder"><p class="stage_change">7d</p></div>
                                                <div class="stage_change_holder"><p class="stage_change">1mon</p></div>
                                                <div class="stage_change_holder" style="float: right"
                                                     data-bind="style: { display: camerasView.selected().is_live() ? 'none' : 'block' }, click: function(){camerasView.selected().is_live(true); main.go_live()}">
                                                    <p class="go_live"> Go live </p>
                                                </div>
                                                <div class="stage_change_holder" style="float: right"
                                                     data-bind="style: { display: camerasView.selected().is_live() ? 'block' : 'none' }, click: function(){switch_to_recordings()}">
                                                    <!-- <p class="live" >Recordings</p> -->
                                                    <p class="go_live">Stop live</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
	<!--
	<div class="row bcg_color">
		<div class="col-md-12 white_div_footer"></div>
	</div>
	-->
</div>
<div class="footer bcg_color">
    <div class="container">
	    <div class="row bcg_color">
			<div class="col-md-4 footer_links">
				<a href="support.html" class="margin_footer_links" style="font-family: inherit;">Support</a>
				<a href="privacy_policy.html" class="margin_footer_links" style="font-family: inherit;">Privacy Policy</a>
				<a href="terms_of_service.html" class="margin_footer_links" style="font-family: inherit;">Terms of
					Service</a>
			</div>
		</div>
		<div class="row bcg_color">
			<div class="col-md-12 copyright">
				<p class="copyright_style">© Copyright Chk-in 2014 All rights reserved.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal General -->
<div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">General</h4>
      </div>
      <div class="modal-body">
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>Camera Label:</strong></div>
            <div class="col-md-7">
                <input type="text" class="form-control" data-bind="value: camerasView.selected().state.device_title" />
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>Time Zone:</strong></div>
            <div class="col-md-7">
                <!--<select class="form-control">
                    <option>GMT -8 Pacific</option>
                </select>-->
                <div data-bind="text: camerasView.selected().state.camera_timezone_string"></div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>S/W Version:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().state.chkin_version"></div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save_settings_info">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Network -->
<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Network</h4>
      </div>
      <div class="modal-body">
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>MAC ID:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().mac_address, editableOptions: {pk: 1, type: 'text', title: 'Enter MAC address'}">
                </div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>LAN IP:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().state.internal_ip, editableOptions: {pk: 1, type: 'text', title: 'Enter local IP address'}">
                </div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>LAN Port:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().state.internal_port, editableOptions: {pk: 1, type: 'text', title: 'Enter local port'}">
                </div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>WAN IP:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().state.external_ip, editableOptions: {pk: 1, type: 'text', title: 'Enter WAN IP address'}">
                </div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-5"><strong>WAN Port:</strong></div>
            <div class="col-md-7">
                <div data-bind="text: camerasView.selected().state.external_port, editableOptions: {pk: 1, type: 'text', title: 'Enter WAN port'}">
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Control -->
<div class="modal fade" id="controlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Control</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <span><strong>Audio</strong></span>
                <span class="pull-right">
                    <!--<input type="checkbox" name="audio-on" class="control-on-button">-->
                    <input class="general_on_of" name="settings_cam_on_of" data-bind="bootstrapSwitch: camerasView.selected().state.microphone" type="checkbox">
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    Schedule Time:
                    <span class="pull-right">
                        <input class="general_on_of" name="settings_cam_on_of" data-bind="bootstrapSwitch: camerasView.selected().state.schedule_active" type="checkbox">
                    </span>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row row-md-flex-center">
                            <div class="col-md-7">Turn on at:</div>
                            <div class="col-md-5">
                                <div class="timepicker_wrapper">
                                    <a class="input-group date" id="timepicker_on">
                                        <input type="text" class="form-control"
                                           data-bind="timepicker: camerasView.selected().state.schedule_from" />
                                        <span class="input-group-addon timepicker_on">
                                        <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">&nbsp;</div>
                        </div>
                        <div class="row row-md-flex-center">
                            <div class="col-md-7">Turn off at:</div>
                            <div class="col-md-5">
                                <div class="timepicker_wrapper">
                                    <a class="input-group date" id="timepicker_off">
                                        <input type="text" class="form-control"
                                           data-bind="timepicker: camerasView.selected().state.schedule_to" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row-padding-8">Repeat on days:</div>
                        <div class="row">
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Mon" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Mon</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Tue" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Tue</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Wen" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Wed</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Thu" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Thur</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Fri" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Fri</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="Sat" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Sat</label></div>
                            <div class="col-md-4"><input type="checkbox" class="margin-left-right-1"  value="San" data-bind="checked: camerasView.selected().state.schedule_by_days"><label for="mon" class="font-normal"> Sun</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row-padding-8">
                    Send alert to your email/SMS when there is:
                    <span class="pull-right">
                        <input class="general_on_of" name="settings_cam_on_of" data-bind="bootstrapSwitch: camerasView.selected().state.email_alert_active" type="checkbox">
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-4">SMS</div>
                    <div class="col-md-8">Email</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><input type="checkbox" class="margin-left-right" name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.motion_event_alert_sms"></div>
                    <div class="col-md-3 col-center-text"><label  class="font-normal"> Motion Event</label></div>
                    <div class="col-md-8"><input type="checkbox" class="margin-left-right" name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.motion_event_alert_email"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><input type="checkbox" class="margin-left-right"  name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.loud_noise_alert_sms"></div>
                    <div class="col-md-3 col-center-text"><label class="font-normal"> Loud Noise</label></div>
                    <div class="col-md-8"><input type="checkbox" class="margin-left-right"  name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.loud_noise_alert_email"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><input type="checkbox"  class="margin-left-right" name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.camera_offline_alert_sms"></div>
                    <div class="col-md-3 col-center-text"><label class="font-normal"> Camera Offline</label></div>
                    <div class="col-md-8"><input type="checkbox"  class="margin-left-right"  name="my-checkbox" 
                    no-checked="" data-bind="checked: camerasView.selected().state.camera_offline_alert_email"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save_settings_info">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Personal Info -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Personal Info</h4>
      </div>
      <div class="modal-body">
        <div class="row row-modal-text-container">
            <div class="col-md-4"><strong>Email address:</strong></div>
            <div class="col-md-5">
                <div data-bind="text: camerasView.user_email"></div>
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-4"><strong>Phone number:</strong></div>
            <div class="col-md-5">
                <input type="text" class="form-control" data-bind="value: camerasView.phone_number" />
            </div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-4"><strong>Telephone Co.:</strong></div>
            <div class="col-md-3">
                <select class="form-control" data-bind="value : camerasView.telephone_co">
                    <option value="@message.alltel.com">Alltel</option>
                    <option value="@txt.att.net">AT&T</option>
                    <option value="@myboostmobile.com">Boost Mobile</option>
                    <option value="@messaging.sprintpcs.com">Sprint</option>
                    <option value="@tmomail.net">T-Mobile</option>
                    <option value="@email.uscc.net">US Cellular</option>
                    <option value="@vtext.com">Verizon</option>
                    <option value="@vmobl.com">Virgin Mobile</option>
                </select>
            </div>
            <div class="col-md-3"><button id="test_sms" type="button" class="btn btn-primary btn-md" data-dismiss="modal">Test SMS</button></div>
        </div>
        <div class="row row-modal-text-container">
            <div class="col-md-4"><strong>Password:</strong></div>
            <div class="col-md-5"><button id="user-change-pass" class="form-control btn btn-primary">Change Password</button></div>
        </div>
        <div id="user-password-cont">
            <div class="row row-modal-text-container">
                <div class="col-md-4"><strong>New Password:</strong></div>
                <div class="col-md-6">
                    <div class="right_sett_side_pass">
                        <div>
                            <input type="password" class="form-control" data-bind="value: camerasView.selected().pass1, valueUpdate: 'afterkeydown'" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-modal-text-container">
                <div class="col-md-4"><strong>Confirm:</strong></div>
                <div class="col-md-6">
                    <div class="right_sett_side_pass">

                        <div>
                            <input type="password" class="form-control" data-bind="value: camerasView.selected().pass2, valueUpdate: 'afterkeydown'" />
                        </div>
                        <button id="change_password" type="button" class="btn btn-default btn-sm btn_change_password_style"
                                data-bind="enable: camerasView.selected().check_passwords" data-dismiss="modal">Save New Password</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save_account_info">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Billing -->
<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cloud Storage Subscription</h4>
      </div>
      <div class="modal-body">
        <div class="row row-modal-text-container row-md-flex-center">
            <div class="col-md-4">Your current plan</div>
            <div class="col-md-8"> Monthly plan $10.00/month <input id="change-user-plan-btn" type="button" class="btn btn-primary" value="Change Plan"></div>
        </div>
        <div id="change-user-plan-cont" class="row row-modal-text-container row-md-flex-center">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="cvr_list">
                    <div class="cvr_item">
                        <div class="cvr_item_desc">
                            Monthly Plan  $10.00/month
                        </div>
                        <div class="cvr_item_btns">
                            <button id="pay_month_plan" type="button" class="btn btn-primary btn-sm">Select</button>                                                
                        </div>
                    </div>

                    <div class="cvr_item">
                        <div class="cvr_item_desc">
                            Yearly Plan  $100.00/year
                        </div>
                        <div class="cvr_item_btns">
                            <button id="pay_year_plan" type="button" class="btn btn-primary btn-sm">Select</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row row-modal-text-container row-md-flex-center">
            <div class="col-md-5">Subcription end </div>
            <div class="col-md-7"><span data-bind="text: camerasView.subscription_end_time"></span> <div id="subscription-warn-message" class="label label-danger">Subscription will end soon</div></div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<script type="text/javascript" src="{% static 'js/constants.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'swfobject.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/moment.js' %}"></script>

<!-- bootstrap -->
<script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap-switch.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap-select.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap_timepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/mac_scroll/deps/jquery-mousewheel.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/mac_scroll/antiscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/mac_scroll/scrollbar.js' %}"></script>

<!--KNOCKUOT-->
<script type="text/javascript" src="{% static 'js/knockout-3.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/knockstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/knockout_boot_datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/knockout_img.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/bootstrap_switch_knockout.js' %}"></script>

<!--TIMELINE-->
<script type="text/javascript" src="{% static 'libs/vis_js/vis.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/timeline/beeTimeline.js' %}"></script>
<script type="text/javascript" src="{% static 'js/demo.js' %}"></script>

<!-- notif_it -->
<script type="text/javascript" src="{% static 'js/notifIt.js' %}"></script>

<script type="text/javascript" src="{% static 'js/CamerasView.js' %}"></script>
<script type="text/javascript" src="{% static 'js/VLC_player.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user_acc.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/knockout_editable.min.js' %}"></script>

<script type="text/javascript">
    function buy_subscription() {
        //    window.location = "/subscription_form";
    }
</script>
<script id="camera_tmpl" type="text/html">
    <div class="col-xs-18 col-sm-6 col-md-2 list_item">
        <div class="thumbnail thumb_style">
            <img class="thumb_img_style" width="148" height="83"
                 data-bind="img: { src: thumb_url($data), fallback: main.latest_thumbnail_from_camera($data), count: 1, finalFallback: 'img/fallback.jpg'}, click: function() {main.set_camera($data)}"
                    style="width: 148px;height: 83px">

            <div class="caption camera_data_holder">
                <div class="cam_status">
                    <img
                            data-bind="attr:{src: $data.state.online() ? 'img/img_for_v_2/cam_status_img_on.png' : 'img/img_for_v_2/cam_status_img_off.png'}"
                            alt="camera status">
                </div>
                <p class="list_item_cam_title" data-bind="text: $data.state.device_title"><b>&nbsp;&nbsp;Test camera house</b></p>
            </div>
        </div>
    </div>
</script>
</html>
