{% set navigation_bar = [
    ('/dashboard/stats', 'index', 'Statistics', 'fa fa-bar-chart-o'),
    ('/dashboard/users', 'users', 'Users', 'fa fa-users'),
    ('/dashboard/cameras', 'cameras', 'Cameras', 'fa fa-video-camera'),
    ('/dashboard/media', 'media', 'Media', 'fa fa-film'),
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Chk-in | Dashboard{% endblock %}</title>
    <link href="/dashboard/assets/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/dashboard/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="logo">
    <h4><a href="/dashboard/">{% block header %}<strong>Chk-in</strong> Dashboard{% endblock %}</a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse visible-xs">
    <ul id="side-nav" class="side-nav">
        {% for href, id, caption, icon in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif%}>
            <a href="{{href|e}}"><i class="{{icon|e}}"></i> <span class="name">{{caption|e}}</span></a>
        </li>
        {% endfor %}
        <li class="visible-xs">
            <a href="{{logout_url}}"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
</nav>
<div class="wrap">
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                {% for href, id, caption, icon in navigation_bar %}
                <li class="hidden-xs {% if id == active_page %} active{% endif%}"><a href="{{href|e}}"><i class="{{icon|e}}"></i> {{caption|e}}</a></li>
                {% endfor %}
                <li class="hidden-xs"><a href="{{logout_url}}"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="content container">
<!-- 
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">
                {% block page_title %}
                    {% for href, id, caption, icon in navigation_bar %}
                        {% if id == active_page %}{{caption|e}}{% endif %}
                    {% endfor %}
                {% endblock %}</h2>
            </div>
        </div>
 -->
        {% block content %}{% endblock %}
    </div>
</div>

<!-- jquery and friends -->
<script src="/dashboard/assets/lib/jquery/jquery-2.0.3.min.js"> </script>
<!-- <script src="/dashboard/assets/lib/jquery-pjax/jquery.pjax.js"></script> -->


<!-- jquery plugins -->
<!-- <script src="/dashboard/assets/lib/jquery-maskedinput/jquery.maskedinput.js"></script> -->
<!-- <script src="/dashboard/assets/lib/parsley/parsley.js"> </script> -->
<script src="/dashboard/assets/lib/icheck.js/jquery.icheck.js"></script>
<script src="/dashboard/assets/lib/select2.js"></script>
<!-- <script src="/dashboard/assets/lib/sparkline/jquery.sparkline.js"></script> -->
<!-- <script src="/dashboard/assets/lib/jquery-ui-1.10.3.custom.js"></script> -->
<!-- <script src="/dashboard/assets/lib/jquery.slimscroll.js"></script> -->
<script src="/dashboard/assets/lib/jquery.dataTables.min.js"></script>

<!-- d3, nvd3-->
<script src="/dashboard/assets/lib/nvd3/lib/d3.v2.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/nv.d3.custom.js"></script> -->

<!-- nvd3 models -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/scatter.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/axis.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/legend.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBar.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBarChart.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/line.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/lineChart.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/stream_layers.js"></script> -->

<!--backbone and friends -->
<!-- <script src="/dashboard/assets/lib/backbone/underscore-min.js"></script> -->
<!-- <script src="/dashboard/assets/lib/backbone/backbone-min.js"></script> -->
<!-- <script src="/dashboard/assets/lib/backbone/backbone-pageable.js"></script> -->
<!-- <script src="/dashboard/assets/lib/backgrid/backgrid.js"></script> -->
<!-- <script src="/dashboard/assets/lib/backgrid/backgrid-paginator.js"></script> -->
<!-- <script src="/dashboard/assets/lib/backbone/backbone.localStorage-min.js"></script> -->

<!-- bootstrap default plugins -->
<script src="/dashboard/assets/lib/bootstrap/transition.js"></script>
<script src="/dashboard/assets/lib/bootstrap/collapse.js"></script>
<script src="/dashboard/assets/lib/bootstrap/alert.js"></script>
<!-- <script src="/dashboard/assets/lib/bootstrap/tooltip.js"></script> -->
<!-- <script src="/dashboard/assets/lib/bootstrap/popover.js"></script> -->
<script src="/dashboard/assets/lib/bootstrap/button.js"></script>
<!-- <script src="/dashboard/assets/lib/bootstrap/tab.js"> </script> -->
<!-- <script src="/dashboard/assets/lib/bootstrap/dropdown.js"></script> -->
<!-- <script src="/dashboard/assets/lib/bootstrap/modal.js"></script> -->

<!-- basic application js-->
<script src="/dashboard/assets/js/app.js"></script>
<!-- <script src="/dashboard/assets/js/settings.js"></script> -->

<!-- page specific -->
<!-- <script src="/dashboard/assets/js/index.js"></script> -->
<!-- <script src="/dashboard/assets/js/chat.js"></script> -->

{% block extra_script %}{% endblock %}
<script>
{% block page_script %}{% endblock %}
</script>
</body>
</html>