{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<section class="widget xlarge">
			<header>
				<h4><i class="fa fa-users"></i> User Count</h4>
			</header>
			<div class="btn-group pull-right">
				<a href="/dashboard/csv/stats/stats.csv" class="btn btn-default">CSV <i class="fa fa-download"></i></a>
			</div>
			<div id="sources-chart-line" class="body chart">
				<svg></svg>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="widget xxlarge">
			<header>
				<h4><i class="fa fa-bar-chart-o"></i> Histogram</h4>
			</header>
			<div class="form-actions margin-bottom">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-success stats-radio active" data-id="cost">
						<input type="radio" name="options" id="option1"> $
					</label>
					<label class="btn btn-primary stats-radio" data-id="storage">
						<input type="radio" name="options" id="option2"> Storage
					</label>
					<label class="btn btn-danger stats-radio" data-id="downloaded">
						<input type="radio" name="options" id="option3"> Downloaded
					</label>
				</div>
			</div>
			<div id="histogram-cost-chart-line" class="body chart histogram">
				<svg></svg>
			</div>
			<div id="histogram-storage-chart-line" class="body chart histogram hidden">
				<svg></svg>
			</div>
			<div id="histogram-downloaded-chart-line" class="body chart histogram hidden">
				<svg></svg>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4><i class="fa fa-list"></i> Records</h4>
			</header>
			<div class="body">
				<table id="datatable-table" class="table table-striped">
					<thead>
					<tr>
						<th>Date</th>
						<th>Count</th>
					</tr>
					</thead>
					<tbody id="table-records">
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/dashboard/assets/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="/dashboard/assets/lib/nvd3/src/models/scatter.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/axis.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/legend.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBar.js"></script> -->
<!-- <script src="/dashboard/assets/lib/nvd3/src/models/multiBarChart.js"></script> -->
<script src="/dashboard/assets/lib/nvd3/src/models/line.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/lineChart.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/discreteBar.js"></script>
<script src="/dashboard/assets/lib/nvd3/src/models/discreteBarChart.js"></script>
<!-- <script src="/dashboard/assets/lib/nvd3/stream_layers.js"></script> -->
<script src="/dashboard/assets/js/ds-table.js"></script>
<script src="/dashboard/assets/js/ds-stats.js"></script>
{% endblock %}
