{% extends "base.html" %}
{% set active_page = "users" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4><i class="fa fa-list"></i> Records</h4>
			</header>
			<div class="body">
				<div id="alert-zone"></div>
				<div class="form-actions margin-bottom">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-success stats-radio active" data-id="cost">
							<input type="radio" name="options" id="option1"> $
						</label>
						<label class="btn btn-primary stats-radio" data-id="storage">
							<input type="radio" name="options" id="option2"> Storage
						</label>
						<label class="btn btn-danger stats-radio" data-id="downloaded">
							<input type="radio" name="options" id="option3"> Downloaded
						</label>
					</div>
					<div class="btn-group pull-right">
						<a href="/dashboard/csv/users/users.csv" class="btn btn-default">CSV <i class="fa fa-download"></i></a>
					</div>
				</div>
				<table id="datatable-table" class="table table-striped">
					<thead>
					<tr>
						<th class="no-sort"></th>
						<th>User</th>
						<th class="numeric-comma-sort"># of Cameras</th>
						<th class="numeric-comma-sort"># of Media</th>
						<th class="numeric-comma-sort">Storage Used (MB)</th>
						<th class="numeric-comma-sort">$ Daily</th>
						<th class="numeric-comma-sort">$ Weekly</th>
						<th class="numeric-comma-sort">$ Monthly</th>
						<th class="numeric-comma-sort">Storage Daily (MB)</th>
						<th class="numeric-comma-sort">Storage Weekly (MB)</th>
						<th class="numeric-comma-sort">Storage Monthly (MB)</th>
						<th class="numeric-comma-sort">Downloaded Daily (MB)</th>
						<th class="numeric-comma-sort">Downloaded Weekly (MB)</th>
						<th class="numeric-comma-sort">Downloaded Monthly (MB)</th>
					</tr>
					</thead>
					<tbody id="table-records">
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/dashboard/assets/js/ds-table.js"></script>
<script src="/dashboard/assets/js/ds-users.js"></script>
{% endblock %}
