{% load staticfiles%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Chk-in | Dashboard{% endblock %}</title>
    <link href="{% static 'assets/css/application.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="logo">
    <h4><a href="/dashboard">{% block header %}<strong>Chk-in</strong> Dashboard{% endblock %}</a></h4>
</div>

<div class="wrap">
{% if "blobmissing" not in active_page %}
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li {% if "dashboard" in active_page %}class="active"{% endif %}>
		            <a href="/dashboard/stats/"><i class="fa fa-bar-chart-o"></i> <span class="name">Statistics</span></a>
		        </li>
		        <li {% if "users" in active_page %}class="active"{% endif %}>
		            <a href="/dashboard/users/"><i class="fa fa-users"></i> <span class="name">Users</span></a>
		        </li>
		        <li {% if "camera" in active_page %}class="active"{% endif %}>
		            <a href="/dashboard/cameras/"><i class="fa fa-video-camera"></i> <span class="name">Cameras</span></a>
		        </li>
		        <li {% if "media" in active_page %}class="active"{% endif %}>
		            <a href="/dashboard/media/"><i class="fa fa-film"></i> <span class="name">Media</span></a>
		        </li>
                <li class="hidden-xs"><a href="{{logout_url}}"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </header>
{% endif %}
    <div class="content container">
<!-- 
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">
                {% block page_title %}
                    {% for href, id, caption, icon in navigation_bar %}
                        {% if id == active_page %}{{caption}}{% endif %}
                    {% endfor %}
                {% endblock %}</h2>
            </div>
        </div>
 -->
        {% block content %}{% endblock %}
    </div>
</div>

<!-- jquery and friends -->
<script src="{% static 'assets/lib/jquery/jquery-2.0.3.min.js' %}"> </script>
<!-- <script src="{% static 'assets/lib/jquery-pjax/jquery.pjax.js"></script> -->


<!-- jquery plugins -->
<!-- <script src="{% static 'assets/lib/jquery-maskedinput/jquery.maskedinput.js"></script> -->
<!-- <script src="{% static 'assets/lib/parsley/parsley.js"> </script> -->
<script src="{% static 'assets/lib/icheck.js/jquery.icheck.js' %}"></script>
<script src="{% static 'assets/lib/select2.js' %}"></script>
<!-- <script src="{% static 'assets/lib/sparkline/jquery.sparkline.js"></script> -->
<!-- <script src="{% static 'assets/lib/jquery-ui-1.10.3.custom.js"></script> -->
<!-- <script src="{% static 'assets/lib/jquery.slimscroll.js"></script> -->
<script src="{% static 'assets/lib/jquery.dataTables.min.js' %}"></script>

<!-- d3, nvd3-->
<script src="{% static 'assets/lib/nvd3/lib/d3.v2.js' %}"></script>
<!-- <script src="{% static 'assets/lib/nvd3/nv.d3.custom.js"></script> -->

<!-- nvd3 models -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/scatter.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/axis.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/legend.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/multiBar.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/multiBarChart.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/line.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/src/models/lineChart.js"></script> -->
<!-- <script src="{% static 'assets/lib/nvd3/stream_layers.js"></script> -->

<!--backbone and friends -->
<!-- <script src="{% static 'assets/lib/backbone/underscore-min.js"></script> -->
<!-- <script src="{% static 'assets/lib/backbone/backbone-min.js"></script> -->
<!-- <script src="{% static 'assets/lib/backbone/backbone-pageable.js"></script> -->
<!-- <script src="{% static 'assets/lib/backgrid/backgrid.js"></script> -->
<!-- <script src="{% static 'assets/lib/backgrid/backgrid-paginator.js"></script> -->
<!-- <script src="{% static 'assets/lib/backbone/backbone.localStorage-min.js"></script> -->

<!-- bootstrap default plugins -->
<script src="{% static 'assets/lib/bootstrap/transition.js' %}"></script>
<script src="{% static 'assets/lib/bootstrap/collapse.js' %}"></script>
<script src="{% static 'assets/lib/bootstrap/alert.js' %}"></script>
<!-- <script src="{% static 'assets/lib/bootstrap/tooltip.js"></script> -->
<!-- <script src="{% static 'assets/lib/bootstrap/popover.js"></script> -->
<script src="{% static 'assets/lib/bootstrap/button.js' %}"></script>
<!-- <script src="{% static 'assets/lib/bootstrap/tab.js"> </script> -->
<!-- <script src="{% static 'assets/lib/bootstrap/dropdown.js"></script> -->
<!-- <script src="{% static 'assets/lib/bootstrap/modal.js"></script> -->

<!-- basic application js-->
<script src="{% static 'assets/js/app.js' %}"></script>
<!-- <script src="{% static 'assets/js/settings.js"></script> -->

<!-- page specific -->
<!-- <script src="{% static 'assets/js/index.js"></script> -->
<!-- <script src="{% static 'assets/js/chat.js"></script> -->

{% block extra_script %}{% endblock %}
<script>
{% block page_script %}{% endblock %}
</script>
</body>
</html>
