{% extends "dashboard/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<h4><i class="fa fa-list"></i> Records</h4>
			</header>
			<div class="body">
			    <div id="alert-zone"></div>
				<table id="datatable-table" class="table table-striped">
					<thead>
					<tr>
						<th class="no-sort"></th>
						<th>Title</th>
						<th>User</th>
						<th>Camera</th>
						<th>Record Date</th>
						<th>Duration</th>
						<th class="numeric-comma-sort">Size (KB)</th>
					</tr>
					</thead>
					<tbody id="table-records">
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
{% endblock %}
{% load staticfiles %}
{% block extra_script %}
<script src="{% static 'assets/js/ds-table.js' %}"></script>
<script src="{% static 'assets/js/ds-media.js' %}"></script>
{% endblock %}
