@import "style.less";

//FRONT PAGE - TEST
.menu_style_ront_page{
  margin-top: 45px;
  background-color: #3895d0;
  font-size: 19px;
}
a:link {color:@mainWhite; font-family: raavi; text-decoration: none;}
a:visited {color:@mainWhite; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:@mainWhite; font-family: raavi;}

