@import "style.less";

/*///////////////////////////////////////user page*/
.margin_l_r_auto{
  margin-left: auto;
  margin-right: auto;
}
.menu_style{
   margin-top: 40px;
   background-color: @mainBlue;
   font-size: 19px;
 }
.ul_bcg_style{
  background-color: #2D85BD;
}
.margin_top{
  margin-top: 8px;
}
.menu_buttons_style{
  font-size: 20px;
}
.logo{
  margin-top: -56px;
}
.main_container_body{
  height: auto;
  margin-top: -20px;
  margin-bottom: -50px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);;
  background-color: @main_container_body;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.text_style{
  width: 100%;
  height: 80px;
  margin-top: 50px;
  text-align: center;
  color: @text_color_gray;
}
.info{
  .text_style;
  color: @mainBlue;
}
////////////////////////////////////

a:link {color:@mainWhite; font-family: raavi; text-decoration: none;}
a:visited {color:@mainWhite; font-family: raavi;}
a:hover {color: #C3DFF1; font-family: raavi;}
a:active {color:@mainWhite; font-family: raavi;}
